<h1><%= @geography.name %></h1>

<% unless @geography.aggregations.empty? %>

  <div id="comments">
  <% for aggregation in @geography.aggregations %>
    <div class="comment">
      <strong><%= aggregation.familycomposition %>:</strong>
      <%= aggregation.familysize %>
      <%= aggregation.house_cost %>
      <%= aggregation.childcare_cost %>
      <%= aggregation.health_cost %>
      <%= aggregation.food_cost %>
      <%= aggregation.trans_cost %>
      <%= aggregation.other_cost %>
      <%= aggregation.income %>
      <%= aggregation.income_pretax %>
      <%= aggregation.tax %>
      <%= aggregation.poverty %>
      <%= aggregation.minwage_hrly %>
      <%= aggregation.minwage %>
      <%= aggregation.income_hrly %>
      <%= aggregation.income_pretax_hrly %>
      <%= aggregation.poverty_hrly %>    </div>
  <% end %>
  </div>
<% end %>