<h1>National Landscape</h1>

<h2>For a family of... </h2> 

{{view Ember.Select content=familycompositions
                    prompt="Select a family type"
                    valueBinding="selectedPerson"}}

{{wage-panel}}

{{view Ember.Select content=states
                    prompt="Select a state:"
                    valueBinding="selectedPerson"}}

{{outlet}}



<h2>States</h2>
<h2>{{model}}</h2>
<h2>Select:</h2>
{{#each}}
	{{#link-to 'state' this}} {{state_name}}: {{id}} {{/link-to}} <br />
{{/each}}
