<h1>State</h1>

<p>Current: {{state_name}}</p>

{{#each aggregations}}
	<p>explainable_id: {{explainable_id}}</p>
	<p>explainable_type: {{explainable_type}}</p>
	<p>familycomposition: {{familycomposition}}</p>
	<p>familysize: {{familysize}}</p>
	<p>house_cost: {{house_cost}}</p>
	<p>childcare_cost: {{childcare_cost}}</p>
	<p>health_cost: {{health_cost}}</p>
	<p>food_cost: {{food_cost}}</p>
	<p>trans_cost: {{trans_cost}}</p>
	<p>other_cost: {{other_cost}}</p>
	<p>income: {{income}}</p>
	<p>income_pretax: {{income_pretax}}</p>
	<p>tax: {{tax}}</p>
	<p>poverty: {{poverty}}</p>
	<p>minwage_hrly: {{minwage_hrly}}</p>
	<p>minwage: {{minwage}}</p>
	<p>income_hrly: {{income_hrly}}</p>
	<p>income_pretax_hrly: {{income_pretax_hrly}}</p>
{{/each}}


<p>Counties</p>
{{#each counties}}
	<p>{{countyname}}</p>
{{/each}}
  
<p>Metros</p>
{{#each metros}}
	<p>{{cbsa_name}}</p>
{{/each}}
  
  
  
  
  
  
  
  