%div.anchor#contribute-your-story-link
%div.row#contribute-your-story
  %div.col-sm-12
    %div.gutter
  %div.col-sm-6
    %div.row
      %div.col-sm-12#contact
        %div{:align => "center"}
          %h3 Send A message to Us
          = simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f|
            = f.input :name, :required => true, :class=> "form-control"
            = f.input :email, :required => true, :class=> "form-control"
            = f.input :message, :as => :text, :required => true, :class=> "form-control"
            .hidden
              = f.input :nickname, :hint => 'Leave this field blank!'
            %div
              = f.button :submit, 'Send message', :class=> "btn btn-default"

        Share this data:
        %div.text-center
          %div.btn-group
            %a{href: "#", "data-type"=> "twitter", "data-description"=> "See the Living Wage for #{@geography.name}:", "data-via"=>"livingwagecalc", class: "social"}
              %button.btn.btn-default{type:"button"}
                Twitter
            %a{href: "#", "data-type"=> "facebook","data-url"=>"#{request.original_url}", "data-title"=> "Living Wage Calculator, #{@geography.name}", "data-description"=> "See the Living Wage for #{@geography.name}:", class: "social"}
              %button.btn.btn-default{type:"button"}
                Facebook
  %div.col-sm-6
    %a.twitter-timeline{href: "https://twitter.com/search?q=%23raisethewage+%7C%7C+%23livingwage", "data-widget-id" => "490005140603027456", "data-tweet-limit" => "3"}
%div.row#contribute-your-story
  %div.col-sm-12
    %div.gutter
  %div.col-sm-12
    %p{style: "color: gray; text-align: center;"}
      © 2014 Dr. Amy K. Glasmeier and the Massachusetts Institute of Technology

:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");