%nav#sticky-menu
  %div.row
    %div.col-md-6#donut-chart-menu
      %span{style: "font-size: 1em"}
        Family Composition:
    %div.col-md-6
      %span{style: "font-size: 1em"}
        Geography: 
      = if @geography.class.name == "State"
        - form_for @geography do |f|
          = f.autocomplete_field :name, autocomplete_geography_name_states_path, :class => "form-control", :update_elements => {:census_id => '#census_id'}
          = f.hidden_field :census_id, :id => "census_id"
          = f.submit :class => "btn btn-default"
      = if @geography.class.name == "County"
        - form_for @geography do |f|
          - f.autocomplete_field :name, autocomplete_geography_name_counties_path, :class => "form-control"
      = if @geography.class.name == "Metro"
        - form_for @geography do |f|
          - f.autocomplete_field :name, autocomplete_geography_name_metros_path, :class => "form-control"

