%div#map
%div.row
  %div#summary-panel
    %div.row#wage-bar-chart.center-content
      %div.col-md-6
        %em
          The Living Wage is: 
        %div#printed-living-wage
      %div.col-md-6
        .form-group
          %em
            in
          %button.form-control.btn.btn-primary.btn-sm{"data-target" => "#myModal", "data-toggle" => "modal"}
            = @geography.name
            .caret
        %div.form-group
          %em
            for a family of:
          %form#donut-chart-menu

#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %h4#myModalLabel.modal-title Modal title
      .modal-body
        %div.form-group
          - if @geography
            = form_for @geography, :as => :geography, :html =>{ :class=>"navbar-form form-inline", :role => "form" } do |f|
              %em
                in
              = f.autocomplete_field :name, autocomplete_geography_name_states_path, :placeholder => "Search", :value => "", :size => 20, :class => "form-control input-sm", :update_elements => {:census_id => '#census_id_2', :geography_type => '#geography_type_2'}
              = f.hidden_field :census_id, :id => "census_id_2", :class => "form-control"
              = f.hidden_field :geography_type, :value=>"state", :id => "geography_type_2", :class => "form-control"
              = f.submit "Change", :class => "btn btn-default input-sm"

:javascript

  var map = L.map('map', {
    scrollWheelZoom: false,
    zoomControl: false,
    attributionControl: false
  });

  map.dragging.disable();
  map.touchZoom.disable();
  map.doubleClickZoom.disable();
  map.scrollWheelZoom.disable();

  L.tileLayer('http://a{s}.acetate.geoiq.com/tiles/acetate-hillshading/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  var url_string = "";
  var zoom_level = 6;
  var twoZero = d3.format("02d"); //format digits for the API
  var fiveZero = d3.format("05d");
  var fiveZero = d3.format("05d");
  var style = {
      fillColor: "#4682B4",
      weight: 0,
      fillOpacity: 0 };

  if (gon.census_type == "state") {
    if (gon.census_id == 999999) {
      url_string = "http://api.censusreporter.org/1.0/geo/tiger2012/01000US?geom=true";
    } else {
      url_string = "http://api.censusreporter.org/1.0/geo/tiger2012/04000US" + twoZero(gon.census_id) + "?geom=true";
    }

  }

  if (gon.census_type == "county") {
    url_string = "http://api.censusreporter.org/1.0/geo/tiger2012/05000US" + fiveZero(gon.census_id) + "?geom=true";
  }

  if (gon.census_type == "metro") {
    url_string = "http://api.censusreporter.org/1.0/geo/tiger2012/31000US" + fiveZero(gon.census_id) + "?geom=true";
  }

  $.getJSON(url_string, function(d){
    var data = L.geoJson(d, {style: style});
    data.addTo(map);
    if (gon.census_id !== 999999) {
      map.fitBounds(data.getBounds());
      var offset = map.getSize().y*0.2;
      // Then move the map
      map.panBy(new L.Point(0, -offset), {animate: false});
    } else {
      map.setView(new L.LatLng(50.50, -90.35), 3, { padding: [50,50]});
      // map.setZoom(6);
    }

  });