%nav{class: 'navbar navbar-fixed-top', id: 'mit-nav', role: 'navigation' }
  %nav.container-fluid
    %div.navbar-header
      %button{type: "button", class: "navbar-toggle", "data-toggle" => "collapse", "data-target" => "#mit-nav-data"}
        %span.sr-only
          Toggle navigation
        %span.icon-bar#bar-invert
        %span.icon-bar#bar-invert
        %span.icon-bar#bar-invert
      %div.navbar-brand
        =image_tag 'new_logo.png', height: '25px', style: 'margin-right: 5px;'
        %a{href: "/"}
          %span{style: "background-image: url('../assets/new_logo.png');"}
          Living Wage Calculator
    %div.collapse.navbar-collapse#mit-nav-data
      %div.navbar-right
        %ul.nav.navbar-nav
          %li.dropdown
            %a{href: "#", class: "dropdown-toggle", "data-toggle" => "dropdown"}
              Menu
              %span.caret
            %ul.dropdown-menu{"role" => "menu"}
              %li
                %a{href: "#living-wage-section"}
                  Living Wage
              %li
                %a{href: "#occupations-section"}
                  Occupations That Pay
              %li
                %a{href: "#national-landscape"}
                  National Landscape
              %li
                %a{href: "#contribute-your-story"}
                  Contribute Your Story 
              %li.divider
              %li
                =if @geography
                  -link_to raw("Download Dataset <span class='glyphicon glyphicon-download'></span>"), action: :show, format: :csv
          %li
            =link_to "About", :controller => "static_pages", :action => "about"
        - if @geography
          = form_for @geography, :as => :geography, :html =>{ :class=>"navbar-form navbar-right", :role => "form" } do |f|
            %div.form-group
              = f.autocomplete_field :name, autocomplete_geography_name_states_path, :placeholder => "Search State, Metro, or County", :value => "", :class => "form-control", :update_elements => {:census_id => '#census_id', :geography_type => '#geography_type'}
              = f.hidden_field :census_id, :id => "census_id", :class => "form-control"
              = f.hidden_field :geography_type, :value=>"state", :id => "geography_type", :class => "form-control"
            = f.submit "Go", :class => "btn btn-default"
        / = if @geography.class.name == "County"
        /   - form_for @geography, :as => :geography, :html =>{ :class=>"navbar-form navbar-right", :role => "form" } do |f|
        /     %div.form-group
        /       = f.autocomplete_field :name, autocomplete_geography_name_counties_path, :placeholder => "Search State, Metro, or County", :value => "", :class => "form-control", :update_elements => {:census_id => '#census_id', :geography_type => '#geography_type'}
        /       = f.hidden_field :census_id, :id => "census_id", :class => "form-control"
        /       = f.hidden_field :geography_type, :value=>"state", :id => "geography_type", :class => "form-control"
        /     = f.submit "Go", :class => "btn btn-default"
        / = if @geography.class.name == "Metro"
        /   - form_for @geography, :as => :geography, :html =>{ :class=>"navbar-form navbar-right", :role => "form" } do |f|
        /     %div.form-group
        /       = f.autocomplete_field :name, autocomplete_geography_name_metros_path, :placeholder => "Search State, Metro, or County", :value => "", :class => "form-control", :update_elements => {:census_id => '#census_id', :geography_type => '#geography_type'}
        /       = f.hidden_field :census_id, :id => "census_id", :class => "form-control"
        /       = f.hidden_field :geography_type, :value=>"state", :id => "geography_type", :class => "form-control"
        /     = f.submit "Go", :class => "btn btn-default"