%nav{class: 'navbar navbar-fixed-top', id: 'mit-nav', role: 'navigation' }
  %nav.container-fluid
    %div.navbar-header
      %button{type: "button", class: "navbar-toggle", "data-toggle" => "collapse", "data-target" => "#mit-nav-data"}
        %span.sr-only
          Toggle navigation
        %span.icon-bar#bar-invert
        %span.icon-bar#bar-invert
        %span.icon-bar#bar-invert
      %div.navbar-brand
        =image_tag 'MIT_logo.gif', height: '22px'
        %a{href: "/"}
          Living Wage Calculator /
        %span#breadcrumb.hidden-xs.hidden-sm= @geography.name
    %div.collapse.navbar-collapse#mit-nav-data
      %div.navbar-right
        %ul.nav.navbar-nav
          %li
            %a{href: "#occupations"}
              Occupations
          %li
            %a{href: "#contribute"}
              Contribute
          %li
            %a{href: "#about"}
              About
        = if @geography.class.name == "State"
          - form_for @geography, :as => :geography, :html =>{ :class=>"navbar-form navbar-right", :role => "form" } do |f|
            %div.form-group
              = f.autocomplete_field :name, autocomplete_geography_name_states_path, :placeholder => "Search State, County or CBSA", :value => "", :class => "form-control", :update_elements => {:census_id => '#census_id', :geography_type => '#geography_type'}
              = f.hidden_field :census_id, :id => "census_id", :class => "form-control"
              = f.hidden_field :geography_type, :value=>"state", :id => "geography_type", :class => "form-control"
            = f.submit "Go", :class => "btn btn-default"
        = if @geography.class.name == "County"
          - form_for @geography, :as => :geography, :html =>{ :class=>"navbar-form navbar-right", :role => "form" } do |f|
            %div.form-group
              = f.autocomplete_field :name, autocomplete_geography_name_counties_path, :placeholder => "Search State, County or CBSA", :value => "", :class => "form-control", :update_elements => {:census_id => '#census_id', :geography_type => '#geography_type'}
              = f.hidden_field :census_id, :id => "census_id", :class => "form-control"
              = f.hidden_field :geography_type, :value=>"state", :id => "geography_type", :class => "form-control"
            = f.submit "Go", :class => "btn btn-default"
        = if @geography.class.name == "Metro"
          - form_for @geography, :as => :geography, :html =>{ :class=>"navbar-form navbar-right", :role => "form" } do |f|
            %div.form-group
              = f.autocomplete_field :name, autocomplete_geography_name_metros_path, :placeholder => "Search State, County or CBSA", :value => "", :class => "form-control", :update_elements => {:census_id => '#census_id', :geography_type => '#geography_type'}
              = f.hidden_field :census_id, :id => "census_id", :class => "form-control"
              = f.hidden_field :geography_type, :value=>"state", :id => "geography_type", :class => "form-control"
            = f.submit "Go", :class => "btn btn-default"