<!DOCTYPE html>
<html>
<head>
  <title>Living Wage Calculator</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= include_gon %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "autocomplete-rails.js" %>
  <%= csrf_meta_tags %>
	<%= render 'layouts/shim' %>
</head>
	<body>
      <%= render 'layouts/header' %>
      <%= render 'profile/leaflet' %>
      <%= render 'profile/datapanels' %>
      <%= render 'profile/recalculate' %>

      <div class="row sectional" id="occupations"><h1>Occupations that pay</h1></div>
      <%= render 'profile/occupations' %>
      <div class="row sectional" id="contribute"><h1>Contribute your story</h1></div>

      <footer class="footer">
        <%= debug(params) if Rails.env.development? %>
      </footer>

	</body>
</html>
