<!DOCTYPE html>
<html xmlns:xlink="http://www.w3.org/1999/xlink">
<head>
  <title>Living Wage Calculator</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= include_gon %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "autocomplete-rails.js" %>
  <%= csrf_meta_tags %>
	<%= render 'layouts/shim' %>
</head>
	<body>
      <%= render 'layouts/header' %>
      <%= render 'profile/leaflet' %>
      <%= render 'profile/datapanels' %>
      <%= render 'profile/recalculate' %>
      <%= render 'profile/national' %>
      <%= render 'profile/contribute' %>

      <footer class="footer">
        <%= debug(params) if Rails.env.development? %>
      </footer>

	</body>
</html>
